html{
  font-family: 'futura';
  font-size: 40px;
}

/* When the browser is a width of 600px or less, make the font-size smallest */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* When the browser is a width between 601px and 1024px, make the font size smaller */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 24px;
  }
}

.pic {
  position: relative;
}

#profile {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%)
}

